#comment {
    display: flex;
    flex-direction: column;
}

/* Show username to be bold */
#username {
    font-weight: 700;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
}

/* METADATA BEGIN */
/* Contains date & location */
#metadata {
    display: flex;
    flex-direction: row;
    color: rgb(136, 136, 136);
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 5px;
}

#metadata > .vline-light {
    height: 1em;
    margin: 0.3em 0.6em;
}
/* METADATA END */

/* Style the content of comment */
#content {
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: rgb(51, 51, 51);
    margin: 0;
    overflow-wrap: break-word;
}

/* SOCIAL BEGIN */
/* Contains buttons such as reply, recommend, share, and delete */
#social {
    display: flex;
    flex-direction: row;
    margin: 1em 0 1em 0;
}

#social > button {
    background: none;
    border: none;
    color: rgb(50, 104, 145);
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-size: 12px;
    margin-right: 10px;
    padding: 0;
}

#social > button:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* Delete button gets special color. Only visible for moderator */
#social > #moderate {
    color: rgb(198, 59, 59);
}
/* SOCIAL END */

#num-reply {
    color: rgb(136, 136, 136);
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-size: 12px;
    font-weight: 300;
}

#reply-field {
    border: 1px solid rgb(226, 226, 226);
    border-radius: 3px;
    color: rgb(102, 102, 102);
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-size: 13px;
    width: 100%;
    height: 42px;
    padding: 11px 15px 10px;
    margin-top: 0.5em;
    cursor: text;
}

