/*
 * This file contains styling for the footer
 *
 * The footer contain bunch of links. I organized the links into link group, which groups
 * similar links together such as Health and Well into Lifestyle group.
 *
 * To keep the aesthetics of the page, when the width get smaller, the links will be hidden
 * under the name of each groups and only the group name will be shown, such as NEWS and ARTS.
 * This behavior mimics the original page.
 */

footer {
    display: flex;
    flex-direction: column;
}

/* NYT Logo */
#footer-logo {
    display: block;
    width: 184px;
    height: auto;
    margin-bottom: 1em;
}

/* Link item style */
footer p {
    color: rgb(51, 51, 51);
    font-weight: 700;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-size: 13px;
    margin: 0;
}

/* LINK STYLING BEGIN */
footer #links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer .link-group {
    display: flex;
    flex-direction: column;
}

#links ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#links ul li {
    margin-top: 0.5em;
    color: rgb(0, 0, 0);
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
}
/* LINK STYLING END */

/* COPYRIGHT AREA BEGIN */
footer > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    list-style-type: none;
    margin: auto;
    padding: 0;
}

footer > ul > li {
    margin: 0 0.6em;
    color: rgb(102, 102, 102);
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-size: 11px;
    font-weight: 400;
}
/* COPYRIGHT AREA END */

/* SMALLER SCREEN */
@media only screen and (max-width: 1024px) {
    #links ul li {
        display: none;
    }
    footer #links {
        flex-direction: column;
    }
    footer .link-group {
        margin-bottom: 1em;
    }
}