/*
 * This file contains styling of header.
 *
 * Header contains 3 main items: action bar, masthead, and navigation bar.
 * - Action bar contains search button, language/region choice button, and subscription/login button.
 * - Masthead contains date, logo, and current stock
 * - Navigation bar is self-explanatory.
 *
 * Each items are stacked on top of each other as flex item. Contents of each items are also
 * positioned using flex box. Sizing of each item are adjusted to be true to the original
 * webpage.
 *
 * As the screen gets smaller, some components will be hidden so to preserve the aesthetics of
 * the page.
 */

header {
    display: flex;
    flex-direction: column;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-size: 11px;
}

header a {
    text-decoration: none;
}

/* ACTION BAR BEGIN */

#action-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row nowrap;
    font-weight: 500;
    margin: 0.5em;
    width: 100%;
}

#search {
    flex: 0 0 250px;
    justify-content: left;
}

#search > button {
    height: 3em;
    width: 3em;
    border: none;
    background: none;
}

#search > button:hover {
    background: #e0e0e0;
    border-radius: 3px;
    cursor: pointer;
    transition: background 0.4s ease;
}

#search > button > i {
    font-size: 1.3em;
}

#lang-content {
    flex: 3 0 auto;
    justify-content: center;
    text-align: center;
    margin: auto;
}

#lang-content > button {
    border: none;
    background: none;
    padding: 0.7em;
}

#lang-content > button:hover {
    background: #e0e0e0;
    border-radius: 3px;
    padding: 0.7em;
    cursor: pointer;
    transition: background 0.4s ease;
}

#personalize {
    flex: 0 0 260px;
    justify-content: right;
}

#personalize > a {
    text-decoration: none;
    border: 1px solid rgb(50, 104, 145);
    border-radius: 3px;
    background: rgb(86, 123, 149);
    color: white;
    padding: 0.5em 1em;
    text-align: center;
    font-weight: 700;
    margin: 0 0.4em;
}

#personalize > a:hover {
    background: rgb(50, 104, 145);
    cursor: pointer;
    transition: background 0.6s ease;
}

/* ACTION BAR END */
/* HEADLINE BEGIN */

#masthead {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
}

#date {
    flex: 0 0 140;
}

#date > p {
    margin: 0 0 0.5em 0;
    white-space: nowrap;
}

#logo {
    flex: 3 0 auto;
    justify-content: center;
    min-width: 485px;
    max-width: 485px;
}

#stock {
    flex: 0 0 140;
    justify-content: right;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 1em;
    position: relative;
    top: -1em;
}

#stock > p {
    margin-right: 0.5em;
    white-space: nowrap;
}

/* HEADLINE END */
/* NAV BAR START */

header > nav {
    margin: auto;
    width: 900px;
    font-size: 13px;
}

header > nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
}

/* NAV BAR END */

/* TABLET */
@media only screen and (max-width: 950px) {
    nav,
    #personalize,
    #search,
    #lang-content
    {
        display: none;
    }
}

/* PHONE */
@media only screen and (max-width: 800px) {
    #date,
    #stock
    {
        display: none;
    }
    #logo {
        margin: auto;
    }
}