/* Font */
@font-face {
    font-family: nyt-cheltenham;
    src: url(../assets/nyt-cheltenham.ttf);
}

#login {
    display: flex;
    flex-direction: column;
    margin: auto;
}

#login-logo {
    display: block;
    width: 184px;
    height: auto;
    margin: auto;
    padding: 1em 0;
}

#login-body {
    font-size: 14px;
    max-width: 31em;
    margin: auto;
}

#login-body > h2 {
    color: rgb(0, 0, 0);
    font-family: nyt-cheltenham, georgia, times new roman, times, serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
    margin-top: 1em;
    text-align: center;
}

#login-body > form {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

#login-body > form > label {
    display: block;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
}

#login-body > form > button {
    background-color: rgb(18, 18, 18);
    color: rgb(255, 255, 255);
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-weight: 700;
    border: 0.0625em solid rgb(18, 18, 18);
    border-radius: 3px;
    width: 100%;
    height: 44px;
    margin-top: 1em;
}

#login-body > form > button:hover {
    background: rgb(51, 51, 51);
    border-color: rgb(51, 51, 51);
    cursor: pointer;
    transition: 0.15s ease-in;
}

#or-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#or-bar > span {
    margin: 1em;
}

#term-condition {
    margin: auto;
    text-align: center;
}

#term-condition a {
    display: inline-block;
    color: rgb(0, 0, 0);
    line-height: 1em;
    border-bottom: black solid 1px;
    text-decoration: none;
}

.alternate-login {
    display: block;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-weight: 700;
    height: 44px;
    width: 100%;
    margin-top: 1em;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 3px;
}

.alternate-login:hover {
    background: rgb(247, 247, 247);
    cursor: pointer;
    transition: 0.15s ease-in;
}

#email {
    height: 44px;
    font-weight: 500;
}
