/* DIVIDERS BEGIN */

.hline {
    width: 100%;
    margin: 1px;
    border-bottom: black solid 1px;
}

.vspace {
    height: 15px;
}

.hline-vspace {
    width: 100%;
    margin: 20px auto;
    border-bottom: black solid 1px;
}

.hline-light {
    width: 100%;
    margin: 1px auto;
    border-bottom: #e0e0e0 solid 2px;
}

.hline-light-vspace {
    width: 100%;
    margin: 20px auto;
    border-bottom: #e0e0e0 solid 2px;
}

.vline-med {
    height: 100%;
    width: 0;
    margin: 1px auto;
    border-left: lightgray solid 1px;
}

.vline-light {
    height: 100%;
    margin: 1px;
    border-left: #e0e0e0 solid 1px;
}

.gray {
    color: #5a5a5a;
}

.lightgray {
    color: #999;
}

/* DIVIDERS END */